@media (max-width: 500px) {
  header {
    display: none;
  }
}

/** Hero Image **/

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #555555;
  color: white;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tribalBuilding.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/**Menu Bar**/


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #aa0000;
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}



nav select {
  display: none;
}

@media (max-width: 980px) {
  nav ul     { display: none; }
  nav select { display: inline-block; }
}




.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}




/* Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #aa0000;
  text-align: center;
}


/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #555555;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: center;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column, input[type=submit] {
    width: 100%;
  }
}


/*columns in contact*/

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  max-width: 1000px;
  padding: 10px;
  height: 300px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Home page alerts*/

div.ad1 {
  max-width:1000px;
  margin: auto;
  padding: 10px;
  border: 3px solid #aa0000;
  text-align: center;
  background-color: #777777;
}

div.ad2 {
  max-width:1000px;
  margin: auto;
  padding: 10px;
  border: 3px solid #aa0000;
  text-align: center;
  background-color: #888888;
}

div.ad3 {
  max-width:1000px;
  margin: auto;
  padding: 10px;
  border: 3px solid #aa0000;
  text-align: center;
  background-color: #777777;
}

div.ad4 {
  max-width:1000px;
  margin: auto;
  padding: 10px;
  border: 3px solid #aa0000;
  text-align: center;
  background-color: #888888;
}
